<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <script src="\bootstrap\js\jquery-2.1.3.mini.js" ></script>
    <script src="\bootstrap\js\bootstrap.min.js"></script>
    <script src="\saveToDrive.js" async defer></script>
    <title></title>
</head>

<body style="margin-left: 28px;margin-right: 28px;margin-top: 6px;margin-bottom: 10px;">
<h3> Save to Google drive</h3>
<iframe src="https://script.google.com/a/macros/plarium.com/s/AKfycbwVo5ozjjFQ_-PdAgZa_Bw71ujgEsjlCo-1D19ty4-Iad87oCA/exec" width="100%" scrolling="no" style="border: 0px;">

</iframe>
<button type="button" class="btn btn-success" id="SaveProperty" style="background-color: #773eb1; border-color: #773eb1">Save</button>
<div id="savetodrive-div"></div>
</body>